{extend name='layout'/}
{block name='main'}
<div class="row searchrow">
    <form class="form-inline" role="form" method="post" action="/admin/role/index">
        <div class="form-group">
            <label class="control-label" style="margin-top: 6px">标题：</label>
            <input type="text" class="form-control input-width-medium" name="title"  placeholder="请输入角色名" value="{$title ? $title : ''}">
        </div>
        <div class="form-group">
            <label class="control-label" >状态：</label>
            <select name="status" class="form-control input-width-small required">
                <option value="">请选择</option>
                <option value="1"  <?php echo isset($status)&&$status==1?" selected":""; ?>>启用</option>
                <option value="0"  <?php echo isset($status)&&$status==0?" selected":""; ?>>停用</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
        <button type="reset" class="btn btn-default">重置</button>
    </form>

</div>
<div class="btn-toolbar" style="width: 100%;margin-top: 5px">
    <div class="btn-group" style="border: 1px solid #ccc;width: 100%;margin-bottom: 10px;">
        <a href="/admin/article/add" class="btn btn-noleft"><i class="icon-plus"></i>添加</a>
    </div>
</div>
<table class="table table-striped table-bordered table-checkable table-highlight-head table-no-inner-border table-hover table-vertical-align">
    <thead>
    <tr>
        <th class="align-center">ID</th>
        <th class="align-center">标题</th>
        <th class="align-center">添加时间</th>
        <th class="align-center">状态</th>
        <th class="align-center">操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo" }
    <tr>
        <td class="align-center">{$vo.id}</td>
        <td class="align-center">{$vo.title}</td>
        <td class="align-center">{$vo.create_time}</td>
        <td class="align-center">
            {switch name="$vo.status"}
            {case value="1"}启用{/case}
            {case value="0"}停用{/case}
            {/switch}
        </td>
        <td class="align-center">
            <a href="/admin/article/edit?id={$vo.id}" class="bs-tooltip" title="编辑"><i class="icon-edit"></i>编辑</a>
            <a href="javascript:;" onclick="del(this,'{$vo.id}')" class="bs-tooltip del-item" title="删除"><i class="icon-trash"></i>删除</a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<nav>
    <ul class="pagination pull-right">
        {$page}
    </ul>
</nav>
{/block}
{block name='js'}
<script type="text/javascript" src="__ASSETS__/js/libs/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__PLUGINS__/layer/2.4/layer.js"></script>
<script type="text/javascript" >
    function del(obj,id){
        layer.confirm('确认要删除吗？',function(){
            $.ajax({
                type: "GET",
                url: '/admin/article/del?id=' + id,
                success: function (data) {
                    if (data.code == 1){
                        layer.msg(data.msg, {icon: 1,time:1000});
                        $(obj).parents("tr").remove();
                    }else {
                        layer.alert(data.msg, {icon: 2});
                    }
                }
            });
        });
    }

</script>
{/block}